<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="FileName" value="UserListShort.txt" />
    <add key="SiteUrl" value="https://revvy-modeln.atlassian.net" />
    <add key="Login" value="akiyanovskiy@modeln.com" />
    <add key="Password" value="" />
  </appSettings>
</configuration>
